.comment-body {
    color: grey;
}

.comment-title {
    color: red;
}

.comment {
    text-align: left;
    margin: 20px;
    background-color: honeydew;
    padding: 20px;
}

.comment-mail {
    color: #008CBA;
}